.hidden{
    display: none;
}
#reshuffle {
    display: inline-block;
    text-align: center;
    align-items: center;
}
.playingCard{
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    flex-wrap: wrap;
}
.playingCard img {
    position: sticky;
    height: 95%;
    width: 95%;
}

.deck {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns:auto auto auto auto auto;
    margin-top: 2%;
    max-width: 80%;
    margin-right: 2%;
    border: dashed black 5px;
    background-color: silver;
}

